# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
nids_env/

# Virtualenv
env_nids/

# Datasets
CIC-IDS-2017/

# Trained models & results
models/
evaluation_results/

# Python cache
__pycache__/
*.pyc

# Logs
logs/
*.log

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Docker
*.tar
